.spinner-5 {
    width: 40px;
    --b: 8px; /* the border thickness */
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ff6476; /* Change the background color to red */
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg, red 1deg 70deg, #0000 71deg 90deg), /* Change the gradient color to red */
      radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: s5 1s infinite;
  }
  
  @keyframes s5 {
    to {
      transform: rotate(.5turn);
    }
  }

