
.footerColor {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
  }
  
  .spinnerD {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
  }
  
  .spinnerD p {
    margin-top: 7px;
  }
  